@model List<Sy.Core.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Stok Miktarı</th>
                    <th>Fiyat</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];

                    <tr>
                        <th>@(i + 1)</th>
                        <td>@item.ProductName</td>
                        <td>@item.UnitsInStock</td>
                        <td>@item.UnitPrice</td>
                        <td>
                            <a href="#" class="btn btn-success">Detay</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>